<!DOCTYPE html>
<html>
  <head>
    <title>Datatable App</title>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>

    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery.dataTables.js' %>
  </head>
  <body>

    <%= yield %>


  </body>
</html>
